*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
  }
  
  
  
  .cuadro{
    width: 100%;
    height: 150px;
    background-color: #D7C8ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .iconos{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-right: -65%;
    margin-top: 10px;
  }
  .iconos img{
    padding: 10px;
  }
  nav{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 80px;
    background-color: white ;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 4%;
   
  }
  
  nav li{
    list-style: none;
  }
  nav a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin: 25px;
  }
  nav img{
    width: 150px;
    height: 150px;
  }
  
  nav a:hover{
    color: rgb(205, 101, 172);
  }


  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }


  .jumbotron {
  
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    color: #fff4e0;
    border-radius: 0.3rem;
  }
  
  @media (min-width: 576px) {
    .jumbotron {
      padding: 4rem 2rem;
    }
  }
  
  .jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    background-image: url('../img/Cupp.PNG');
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  
  .text-center {
    text-align: center !important;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    font-size: 20px;
    font-family: 'nonito';
  
    
  }
  .col-lg-7{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  
  
  
  }
  

  .swiper {
    width: 50%;
    height: 50%;
    margin-top: 200px;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
  }

.jgl{
  width: 50%;
  border-radius: 20px;
  height: 70%;
}



  .tam{
    text-align:center;
  }
  .swiper-button-next:after{
    color: #D7C8ED;
  }
  .swiper-button-prev:after{
    color: #D7C8ED;
  }
