@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:  'Raleway', sans-serif;
    font-family: 'Raleway', sans-serif;

  }
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

  
  
  
  .cuadro{
    width: 100%;
    height: 150px;
    background-color: #D7C8ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .iconos{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-right: -65%;
    margin-top: 40px;
  }
  .iconos img{
    padding: 10px;
  }
  nav{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 80px;
    background-color: white ;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 4%;
   
  }
  
  nav li{
    list-style: none;
  }
  nav a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin: 25px;
  }
  nav img{
    width: 150px;
    height: 150px;
  }
  
  nav a:hover{
    color: rgb(205, 101, 172);
  }


  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }


  .jumbotron {
  
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    color: #fff4e0;
    border-radius: 0.3rem;
  }
  
  @media (min-width: 576px) {
    .jumbotron {
      padding: 4rem 2rem;
    }
  }
  
  .jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    background-image: url('../img/Cupp.PNG');
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  
  .text-center {
    text-align: center !important;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    font-size: 20px;
    font-family: 'nonito';
  
    
  }
  .col-lg-7{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  
  
  
  }
  

  .swiper {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    float: left;
    
  }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
  }

.jgl{
  width: 40%;
  border-radius: 20px;
  height: 70%;
}



  .tam{
    text-align:center;
    font-size: 30px;
  }
  .swiper-button-next:after{
    color: #D7C8ED;
  }
  .swiper-button-prev:after{
    color: #D7C8ED;
  }

  .tom{
    border: #fdcedf solid;
    border-radius: 200px;
    text-align: center;
    width: 40px;
    margin-left: 640px;
    background-color: #fdcedf;
  }

  .dom{
   background-color: #D7C8ED;
    border: #D7C8ED  solid;
    border-radius: 300px;
    text-align: center;
    width: 50px;
    margin-left: 640px;
   
  }
  .fom{
    background-color: #DBDFAA;
    border: #DBDFAA  solid;
    border-radius: 300px;
    text-align: center;
    width: 50px;
    margin-left: 640px;
  }
  .som{
    background-color: #AEE2FF;
    border: #AEE2FF solid;
    border-radius: 300px;
    text-align: center;
    width: 50px;
    margin-left: 640px;
  }
  footer{
    width: 10000000000000000000000000px;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -40;
    
  }
  .loogo{
    height: 80px;
  }
  
  .social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #020000da;
    background-image: url(/cliente/img/facebook\ \(1\).png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
  }
  .social-icon:hover{
    background-color: #fdcedf;
    filter: invert(1);
  }
  
  .social-icon:nth-of-type(2){
    background-image: url(/cliente/img/logotipo-de-instagram.png);
  }
  .social-icon:nth-of-type(3){
    background-image: url(/cliente/img/tiktok.png);
  }
  
  .footer-menu-container{
    list-style-type: none;
    color: #000203;
    font-size: 18px;
    width: 100%;
  }
  .menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
  }
  .menu-item:hover{
    opacity: 1;
  }
  .copyright{
    color: #000000;
    opacity: 0.3;
    text-align: center;
  }
  
  
