* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body{
  font-family: 'Raleway', sans-serif;  


}

body {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    background-image: url('/cliente/img/pepeeee.webp'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Raleway', sans-serif;
}

.cuadro {
  width: 100%;
  height: 150px;
  background-color: #d7c8ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.iconos {
  width: 80px;
  height: -0px;
  display: flex;
  flex-direction: row;
  margin-right: -65%;
  margin-top: 10px;
}

.iconos img {
  padding: 10px;
}


nav {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 80px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 4%;
}

nav li {
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin: 25px;
}

nav img {
  width: 150px;
  height: 150px;
}

nav a:hover {
  color: rgb(205, 101, 172);
}

.Container {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover ;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


.container-fluid {
  padding: 0;
  margin: 0;
}


#header-carousel {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
 
}


.Formulario {
  width: 550px;
  max-width: 480px;
  margin: 0 auto;
  padding: 58px;
  border: 1px solid #aee2ff;
  background-color: #aee3ff57;
  align-items: center;
  align-self: center;
  margin-top: 25px;
  height: px;
  pa
  
}

.campo {
  margin-bottom: 15px;
}

label {
  display: block;
 
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #fdcedf;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 400px;
 
}
.campos{

  cursor: pointer;
  color: #FFFFFF;
  font-size: 17px;
  border-radius: 100rem;
  border: none;
  position: relative;
  background: #fdcedf;
  transition: 0.1s;
}
.campos::after{
content: '';
width: 100%;
height: 100%;
filter: blur(15px);
z-index: -1;
position: absolute;
left: 0;
top:0 ;
background-image: #fff;
}
.campos:hover{
transform: scale(0.9) rotate(3deg);

transition: 0.5s;

}

.campo-nombre,
.campo-email {
  display: inline-block;
  width: 45%;
  margin-right: 18px;
  
}



.content {
  padding: 0px;
}

footer{
  width: 1000000000000000px;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -40;
  
}
.loogo{
  height: 80px;
}

.social-icons-container, .footer-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.social-icon{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #020000da;
  background-image: url(/cliente/img/facebook\ \(1\).png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}
.social-icon:hover{
  background-color: #fdcedf;
  filter: invert(1);
}

.social-icon:nth-of-type(2){
  background-image: url(/cliente/img/logotipo-de-instagram.png);
}
.social-icon:nth-of-type(3){
  background-image: url(/cliente/img/tiktok.png);
}

.footer-menu-container{
  list-style-type: none;
  color: #000203;
  font-size: 18px;
  width: 100%;
}
.menu-item{
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
.menu-item:hover{
  opacity: 1;
}
.copyright{
  color: #000000;
  opacity: 0.3;
}


.campo-foto {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

}

.campo-foto label {
  display: block;
  font-weight: bold;
}

.campo-foto input[type="file"] {
  width: 100%;
  padding: 9px;
  border-radius: 4px;
}


.campo-foto input[type="file"] {
  background-color: #f0f0f0;
  color: #333;
}

.campo-foto input[type="file"]::-webkit-file-upload-button {
  background-color: #fdcedf;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.campo-foto input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #d7c8ed;
}

.footer{
     
  width: 119%;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:-80px ;
}


label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  
}

input[type="checkbox"] {
  margin-right: 5px;
}


.let {
  font-size: 14px;
 

}