* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body{
  font-family: 'Raleway', sans-serif;  

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    background-image: url('/cliente/img/Galeria/fd.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Raleway', sans-serif;
}


.cuadro {
  width: 100%;
  height: 150px;
  background-color: #d7c8ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconos {
  width: 80px;
  height: -0px;
  display: flex;
  flex-direction: row;
  margin-right: -65%;
  margin-top: 10px;
}

.iconos img {
  padding: 10px;
}

.navg {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 80px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 4%;
  font-family: 'Raleway', sans-serif;
}

.navg li {
  list-style: none;
  font-family: 'Raleway', sans-serif;
}

.navg a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin: 25px;
  font-family: 'Raleway', sans-serif;
}

.navg img {
  width: 150px;
  height: 150px;
}

.navg a:hover {
  color: #d7c8ed;
  font-family: 'Raleway', sans-serif;
}

.Container {
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;

}


.container-fluid {
  padding: 0;
  margin: 0;
}


#header-carousel {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;

}


.content {
  padding: 0px;
}


.form-container {


  text-align: center;


  padding-top: 20px;
}







.Tarjetas {
  display: flex;
  size: 10px;
  height:  100%;
  white-space: 1000000px;
  position: relative;
  top: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
  font-family: 'Raleway', sans-serif;

}

.card {
  display: flex;
  margin-right: 15px;
  border-radius: 20px;
  margin-left: 15px;
  height: 12rem;
  background-color: #aee3ff65;
  position: relative;
  gap: 1rem;
  flex: 1;
  margin-top: 25px;
  transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
  padding: 5px;
  overflow: hidden;
  width: 290px; 
  
 
}

.card:hover {

  flex: 2;
  background-color: #fdcedf;
}

.ima1{
 display: flex;
 height: 12rem;

 border-radius: 20px;
 background-position: center;
 background-repeat: no-repeat;
 

}




.card2 {
  display: flex;
  margin-right: 15px;
  border-radius: 20px;
  margin-left: 15px;
  height: 12rem;
  background-color: #aee3ff65;
  position: relative;
  gap: 1rem;
  flex: 1;
  margin-top: 25px;
  transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
  padding: 5px;
  overflow: hidden;
  width: 290px; 
 
}

.card2:hover {
  flex: 2;
  background-color: #fdcedf;
}

.ima2{
  display: flex;
  height: 12rem;
 
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
 }
 
 
 

.card3 {
  display: flex;
  margin-right: 15px;
  border-radius: 20px;
  margin-left: 15px;
  height: 12rem;
  background-color: #aee3ff65;
  position: relative;
  gap: 1rem;
  flex: 1;
  margin-top: 25px;
  transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
  padding: 5px;
  overflow: hidden;
  width: 290px; 
}

.card3:hover {
  flex: 2;
  background-color: #fdcedf;
}

.ima3{
  display: flex;
  height: 12rem;
  gap: 1rem;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
 
 }

 .card_texto{
  width: 100%;
  height: 100%;
  line-height: 1.4;
  opacity: 0; 
  transform: translateX(-100%); 
  transition: opacity 0.5s, transform 0.5s; 
  font-family: 'Raleway', sans-serif;

 }

 .card:hover .card_texto {
  opacity: 1;
  transform: translateX(0); }

  
   .card2:hover .card_texto {
    opacity: 1;
    transform: translateX(0); }
  
    .card3:hover .card_texto {
      opacity: 1;
      transform: translateX(0); }
    
  
      footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      bottom: 0;
      left: 0;
      margin-top: 60px;
      padding: 2rem 8%;
      }
      .loogo{
        height: 80px;
      }
      
      .social-icons-container, .footer-menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
      }
      .social-icon{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid #020000da;
        background-image: url(/cliente/img/facebook\ \(1\).png);
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        margin: 1rem;
      }
      .social-icon:hover{
        background-color: white;
        filter: invert(1);
      }
      
      .social-icon:nth-of-type(2){
        background-image: url(/cliente/img/logotipo-de-instagram.png);
      }
      .social-icon:nth-of-type(3){
        background-image: url(/cliente/img/tiktok.png);
      }
      
      .footer-menu-container{
        list-style-type: none;
        color: #000203;
        font-size: 18px;
        width: 100%;
      }
      .menu-item{
        margin: 1rem 1.5rem;
        cursor: pointer;
        opacity: 0.6;
      }
      .menu-item:hover{
        opacity: 1;
      }
      .copyright{
        color: #000000;
        opacity: 0.3;
        text-align: center;
      }