* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body {
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/cliente/img/Galeria/fd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
}








/*menu*/
.toggle-menu {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
  filter: invert(1);
  width: 40px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

img {
  max-width: 100%;
  z-index: 1;
}

.main-nav {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
}
.seccion-1{
  display: flex;
  flex-direction: row;
}
.main-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
  transition: transform 0.3s;
  transform: translateY(-10%);
}


.main-menu_item {
  padding: 1em;
}

.hidden {
  display: none;
}

.main-menu--show {
  transform: translateY(0);
}

.toggle-menu-checkbox:checked+.main-menu {
  transform: translateY(0);
}

.toggle-menu-checkbox {
  display: none;
}

.gg {
  display: flex;
  height: 0px;
  align-items: center;
  margin: auto;
}

.k.menu-open {
  /* Estilos para la imagen "k" cuando el menú esté abierto */
  /* Por ejemplo, puedes agregar una animación para indicar que el menú está abierto */
}

@media screen and (min-width: 768px) {
  .main-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 80px;

  }
.gg{
  height: 40px;
}
.main-nav{
  background-color: #D7C8ED;

}
a{
  color: #000000;
  }
  a{
    color: #dac9f3;
  }
}

.main-menu_item {
  padding: 1em;
}

.main-menu_link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

/*fin menu*/

.Container {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;

}


.container-fluid {
  padding: 0;
  margin: 0;
}


#header-carousel {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;

}


.content {
  padding: 0px;
}


.form-container {


  text-align: center;


  padding-top: 20px;
}





@media (max-width: 768px) {
  .Tarjetas {
    flex-direction: column-reverse;
  }

  .card,
  .card2,
  .card3 {
    width: 100%;
    margin: 2px 0;
  }
}

.Tarjetas {
  display: flex;
  size: 10px;
  height: 100%;
  white-space: 1000000px;
  position: relative;
  top: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
  font-family: 'Raleway', sans-serif;

}

.card {
  display: flex;
  margin-right: 15px;
  border-radius: 20px;
  margin-left: 15px;
  height: 12rem;
  background-color: #aee3ff65;
  position: relative;
  gap: 1rem;
  flex: 1;
  margin-top: 25px;
  transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
  padding: 5px;
  overflow: hidden;
  width: 290px;


}

.card:hover {

  flex: 2;
  background-color: #fdcedf;
}

.ima1 {
  display: flex;
  height: 12rem;

  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;


}




.card2 {
  display: flex;
  margin-right: 15px;
  border-radius: 20px;
  margin-left: 15px;
  height: 12rem;
  background-color: #aee3ff65;
  position: relative;
  gap: 1rem;
  flex: 1;
  margin-top: 25px;
  transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
  padding: 5px;
  overflow: hidden;
  width: 290px;

}

.card2:hover {
  flex: 2;
  background-color: #fdcedf;
}

.ima2 {
  display: flex;
  height: 12rem;

  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
}




.card3 {
  display: flex;
  margin-right: 15px;
  border-radius: 20px;
  margin-left: 15px;
  height: 12rem;
  background-color: #aee3ff65;
  position: relative;
  gap: 1rem;
  flex: 1;
  margin-top: 25px;
  transition: all .5s cubic-bezier(.25, .4, .45, 1.4);
  padding: 5px;
  overflow: hidden;
  width: 290px;
}

.card3:hover {
  flex: 2;
  background-color: #fdcedf;
}

.ima3 {
  display: flex;
  height: 12rem;
  gap: 1rem;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;

}

.card_texto {
  width: 100%;
  height: 100%;
  line-height: 1.4;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s, transform 0.5s;
  font-family: 'Raleway', sans-serif;

}

.card:hover .card_texto {
  opacity: 1;
  transform: translateX(0);
}


.card2:hover .card_texto {
  opacity: 1;
  transform: translateX(0);
}

.card3:hover .card_texto {
  opacity: 1;
  transform: translateX(0);
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  margin-top: 60px;
  padding: 2rem 8%;
}

.loogo {
  height: 80px;
}

.social-icons-container,
.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #020000da;
  background-image: url(/cliente/img/facebook\ \(1\).png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.social-icon:hover {
  background-color: white;
  filter: invert(1);
}

.social-icon:nth-of-type(2) {
  background-image: url(/cliente/img/logotipo-de-instagram.png);
}

.social-icon:nth-of-type(3) {
  background-image: url(/cliente/img/tiktok.png);
}

.footer-menu-container {
  list-style-type: none;
  color: #000203;
  font-size: 18px;
  width: 100%;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copyright {
  color: #000000;
  opacity: 0.3;
  text-align: center;
}

.footer {

  width: 119%;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -80px;
}