
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
font-family: 'Raleway', sans-serif;  
  }
  *{
    margin: 0;
    padding: 0;
  }
  .encabezado-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.28),rgba(0, 0, 0, 0.28)),url(/cliente/img/footoregis.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -1;
  }
  
  .encabezado-img p{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }
  .encabezado-img h1{
    font-size: 50px;
    padding: 20px 0;
  }
  
  
  .topbarr{
    color: #D7C8ED;
  }
  .cuadro{
    width: 100%;
    height: 150px;
    background-color: #D7C8ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .iconos{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-right: -65%;
    margin-top: 10px;
  }
  .iconos img{
    padding: 10px;
  }
  nav{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 80px;
    background-color: white ;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 4%;
  }
  
  nav li{
    list-style: none;
  }
  nav a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin: 25px;
  }

  nav img{
    width: 150px;
    height: 150px;
  }
  
  nav a:hover{
    color: rgb(205, 101, 172);
  }
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }

  .form{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
  }
  .sub-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 70vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0,25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
  }

  h2{
    margin: 1.5rem 0 2rem 0;
    text-align: center;
  }
  label{
    padding-left: 16px;
    opacity: 0.75;
  }
  input{
    display: flex;
    border-radius: 50px;
    border-style: none;
    outline: none;
    margin-top: 8px;
    padding: 12px 24px;
    width: 250px;
    background-color: #e9ecef;
  }
  input:focus{
    opacity: 0.7;
  }
  .boton{
    width: 100%;
    height: 62px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #fdcedf;
    transition: 0.1s;
  }
  .boton::after{
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background-image: #fff;
  }
  .boton:hover{
  transform: scale(0.9) rotate(3deg);
  color: #FFFFFF;
  transition: 0.5s;
  
  }
  button:hover{
    opacity: 0.8;
  }
  .bottom-form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  .signup{
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #62C3E7;
  }
  .signup:hover{
    opacity: 0.8;
  }