
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
font-family: 'Raleway', sans-serif;  
  }
  *{
    margin: 0;
    padding: 0;
  }
  .encabezado-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.28),rgba(0, 0, 0, 0.28)),url(/cliente/img/footoregis.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -1;
  }
  /*menu*/
.toggle-menu {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
  filter: invert(1);
  width: 40px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }
}

img {
  max-width: 100%;
  z-index: 1;
}

.main-nav {
  width: 100%;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
}
.seccion-1{
  display: flex;
  flex-direction: row;
}
.main-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
  transition: transform 0.3s;
  transform: translateY(-10%);
}


.main-menu_item {
  padding: 1em;
}

.hidden {
  display: none;
}

.main-menu--show {
  transform: translateY(0);
}

.toggle-menu-checkbox:checked+.main-menu {
  transform: translateY(0);
}

.toggle-menu-checkbox {
  display: none;
}

.gg {
  display: flex;
  height: 0px;
  align-items: center;
  margin: auto;
}

.k.menu-open {
  /* Estilos para la imagen "k" cuando el menú esté abierto */
  /* Por ejemplo, puedes agregar una animación para indicar que el menú está abierto */
}

@media screen and (min-width: 768px) {
  .main-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 80px;

  }
.gg{
  height: 40px;
}
.main-nav{
  background-color: #D7C8ED;

}
a{
  color: #000000;
  }
  a{
    color: #dac9f3;
  }
}

.main-menu_item {
  padding: 1em;
}

.main-menu_link {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

/*fin menu*/
 

  .form{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
  }
  .sub-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 70vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0,25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
  }

  h2{
    margin: 1.5rem 0 2rem 0;
    text-align: center;
  }
  label{
    padding-left: 16px;
    opacity: 0.75;
  }
  input{
    display: flex;
    border-radius: 50px;
    border-style: none;
    outline: none;
    margin-top: 8px;
    padding: 12px 24px;
    width: 250px;
    background-color: #e9ecef;
  }
  input:focus{
    opacity: 0.7;
  }
  .boton{
    width: 100%;
    height: 62px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #fdcedf;
    transition: 0.1s;
  }
  .boton::after{
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background-image: #fff;
  }
  .boton:hover{
  transform: scale(0.9) rotate(3deg);
  color: #FFFFFF;
  transition: 0.5s;
  
  }
  button:hover{
    opacity: 0.8;
  }
  .bottom-form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
  .signup{
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #62C3E7;
  }
  .signup:hover{
    opacity: 0.8;
  }
  footer{
    width: 10000000000000000000000000px;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -40;
    
  }
  .loogo{
    height: 80px;
  }
  
  .social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #020000da;
    background-image: url(/cliente/img/facebook\ \(1\).png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
  }
  .social-icon:hover{
    background-color: #fdcedf;
    filter: invert(1);
  }
  
  .social-icon:nth-of-type(2){
    background-image: url(/cliente/img/logotipo-de-instagram.png);
  }
  .social-icon:nth-of-type(3){
    background-image: url(/cliente/img/tiktok.png);
  }
  
  .footer-menu-container{
    list-style-type: none;
    color: #000203;
    font-size: 18px;
    width: 100%;
  }
  .menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
  }
  .menu-item:hover{
    opacity: 1;
  }
  .copyright{
    color: #000000;
    opacity: 0.3;
    text-align: center;
  }
  