@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Raleway', sans-serif;

display: flex;
flex-direction: column;
align-items: center;

}
.iconos {
  width: 80px;
  height: -0px;
  display: flex;
  flex-direction: row;
  margin-right: -65%;
  margin-top: 10px;
}

.iconos img {
  padding: 10px;
}

.topbarr{
  color: #D7C8ED;
}
.encabezado-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.28),rgba(0, 0, 0, 0.28)),url(/cliente/img/rregistto.PNG);
    height: 500px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -1;
  }
  
  .encabezado-img p{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }
  .encabezado-img h1{
    font-size: 50px;
    padding: 20px 0;
  }
.cuadro{
  width: 100%;
  height: 150px;
  background-color: #D7C8ED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iconos{
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: row;
  margin-right: -65%;
  margin-top: 10px;
}
.iconos img{
  padding: 10px;
}
nav{
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 80px;
  background-color: white ;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 4%;
}

nav li{
  list-style: none;
}
nav a{
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin: 25px;
}
nav img{
  width: 150px;
  height: 150px;
}

nav a:hover{
  color: rgb(205, 101, 172);
}

.container-form{
    display: flex;
    border-radius: 20px;
    max-width: 900px;
    border: #D7C8ED;
    height: 500px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1) ;
    transition: all 1s ease;
    margin: 10px;
}
 .information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #D7C8ED;
  background-image: url(/cliente/img/entrada.PNG);
  border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;

 }

 .infor-childs {
  width: 100%;
  padding: 0 30px;
 }

 .infor-childs h2{
  font-size: 2.5rem;
 }
 .infor-childs p{
  margin: 15px 0;
  color: antiquewhite;
 }

 .infor-childs input{
  background-color: transparent;
  outline: none;
  border: solid 2px #D7C8ED;
  border-radius: 20px;
  padding: 10px 20px;
  color: beige;
  cursor: pointer;
  transition: background-color .3s ease;
  background-image: url(/cliente/img/entrada.PNG);
 }

 .info-childs input:hover{
  background-color: #D7C8ED;
  border: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1) ;
 }

 .form.information{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: #fff;
  border-top-right-radius: 20px;
 }
 .form-information-childs{
  padding: 0 30px;
 }
 .form-information-childs h2{
  color: #000;
  font-size: 2rem;
 }
 .form-information-childs p{
  color: #000;
 }
 .icons i{
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: bisque;
  transition: background-color 0.3s ease;
  border: solid thin royalblue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
 }
 .icons i:hover{
  background-color: aqua;
  color: #fff;

 }

 footer{
  width: 10000000000000000000000000px;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -40;
  
}
.loogo{
  height: 80px;
}

.social-icons-container, .footer-menu-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.social-icon{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #020000da;
  background-image: url(/cliente/img/facebook\ \(1\).png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}
.social-icon:hover{
  background-color: #fdcedf;
  filter: invert(1);
}

.social-icon:nth-of-type(2){
  background-image: url(/cliente/img/logotipo-de-instagram.png);
}
.social-icon:nth-of-type(3){
  background-image: url(/cliente/img/tiktok.png);
}

.footer-menu-container{
  list-style-type: none;
  color: #000203;
  font-size: 18px;
  width: 100%;
}
.menu-item{
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
.menu-item:hover{
  opacity: 1;
}
.copyright{
  color: #000000;
  opacity: 0.3;
  text-align: center;
}
